.nav {
  position: sticky;
  top: 0;
  z-index: 1000;

  height: 80px;
  padding: 0 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #e5f6f9;
}


.nav-logo {
  display: flex;
  align-items: center;
  gap: 1px;
  font-weight: 700;
}

.nav-logo2 {
  display: flex;
  justify-content: flex-start;
  gap: 1px;
  font-weight: 700;
}

.logo-icon {
  width: 80px;
  height: 80px;
  color: transparent;
  border-radius: 10px;
  display: grid;
  place-items: center;
}
.logo-icon2 {
  width: 250px;
  height: auto;
  color: transparent;
  border-radius: px;
  display: grid;
  justify-content: flex-start;

}

.nav-links {
  display: flex;
  cursor: pointer;
  gap: 36px;
  list-style: none;
  font-weight: 500;
  color: #334155;
}

.nav_links:hover{


  border-bottom: 1px solid blue;
}

.nav button {
  background: var(--primary);
  color: var(prima);
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  font-weight: 600;
}

/* HAMBURGER BUTTON */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
.text {
display: flex;
flex-direction: column;

}

/* MOBILE BUTTON VISIBILITY */
.desktop-btn {
  display: inline-block;
}

.mobile-btn {
  display: none;
}

/* TABLET */
@media (max-width: 1024px) {
  .nav {
    padding: 0 32px;
  }

  .nav-links {
    gap: 24px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .desktop-btn {
    display: none;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: white;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    display: none;
    border-bottom: 1px solid #e5f6f9;
  }

  .nav-links.open {
    display: flex;
  }

  .mobile-btn {
    display: block;
    width: 100%;
  }
}
